@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    background: #000;
    max-width: 100%;
    color: white;
    margin-right: 0px;
    box-sizing: border-box;
}
.logo{
  
    fill:rgb(229, 9, );
    width: 9.25rem;
    height: 2.5rem;
    margin-left: 80px;
    margin-top: 15px;
    
}
#get-started-arrow{
    width: 3px;
    height: 5px;
    margin-left: 0px;
    fill: #ffffff;
}
.navbar:hover {
    cursor: pointer;
}


.navbar-button{
    width: 76px;
    height:32px;
    background-color: red;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    color:white;
    border: 1px white;
    margin-right: 150px;
    margin-top: 15px;
    cursor: pointer;

    
}
.banner{
    
    width: 100%;
    height: 800px;
    margin:0px;
    color:rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.6);
    background-image: url("./banner.png");
    background-size: cover;



}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
   
}
.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px 150px;
   
    

}
.banner-container h1{
font-weight: 900;
font-size:50px;
color:white;
margin-top:5px;

}
.banner-container h2{
    font-size:22px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner-container h3{
    font-weight: 500;
    font-size: 15px;
}
input{
    caret-color: rgb(255, 255, 255);
    width: 100%;
    font-family: unset;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 2rem;
    padding-top:1.5rem ;
    padding-bottom:1.5rem ;
    border-radius: 5px;
    background:#000;
    align-items: center;
    height: 5px;
    line-height: 1.5;
    background-color: 1px white;
    border-color: rgb(244, 239, 239);
    
    
}
form{
    display: flex;
    justify-content: space-between;
    height: 56px;
   border-color: 1px white;
   margin-top: 20px;
}
.get-started{
    width: 350px;
    border-radius: 5px;
    background-color: red;
    font-weight: 700;
    font-family: unset;
    font-size: 25px;
    line-height: 1.5;
     border-color: white;
    align-items: center;
    color:white;
   margin-left: 5px;
   border:none;
    cursor: pointer;
    
    
}
#get-started-arrow{
    width: 150px;
    height: 150px;
    margin-left: 0px;
    
}


.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.691);
}
.banner > * {
  position: relative;
  z-index: 1;
}

.trending{
   
    
   height: 400px;
   display: flex;
    flex-direction: row;
    gap: 20px;
   
    justify-content: space-between;
    
    gap: 5px;
                 
  padding: 20px;
  
  margin-bottom: 20px;
  margin-top: 0px;

  }

  
cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 0px;
    margin-bottom: 0px;
    height: 400px;
    
    margin-right: 100px;
    gap: 20px;
}
.cards-container::-webkit-scrollbar {
  display: none;
}
.cards-container span{
    font-size: 80px;
    font-weight: 700;
    margin-bottom:0px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    color: rgb(10, 10, 10);
    text-decoration: border;
    

    
}

.curve {

  width: 100%;
  height: 10px;
  border: 5px solid rgb(228, 37, 37);
  border-color: rgb(194, 19, 19) transparent transparent transparent;
  border-radius: 90% 90% 30% 30% ;
  margin: 0px;
  margin-left: 0px;
  align-items: start;
  justify-content: center;

}

.card1{
    background: url("../assets/card1.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
     flex-shrink: 0; 

}
.card2{
    background: url("../assets/card2.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
    
}
.card3{
    background: url("../assets/card3.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
}
.card4{
    background: url("../assets/card4.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
}
.card5{
    background: url("../assets/card5.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
}
.card6{
    background: url("../assets/card6.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
}
.card7{
    background: url("../assets/card7.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
}
.card8{
    background: url("../assets/card8.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
}
.card9{
    background: url("../assets/card9.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
}
.card10{
    background: url("../assets/card10.png");
    size:cover;
    height: 280px;
    width:25%;
    border-radius: 5px;
        flex-shrink: 0;
}          
footer{
    position: static;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    color:grey;

}
footer ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    padding-left: 0px;
    width: 90%;
    height: 400px;
    text-decoration: underline;
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin:  50px 60px 50px 50px;
}
.faq1{
    width:90%;
    background-color: grey;
    margin-bottom: 5px;
    height: 50px;
}
.faq2{
    width:90%;
    background-color: grey;
    margin-bottom: 5px;
    height: 50px;
}
.faq3{
    width:90%;
    background-color: grey;
    margin-bottom: 5px;
    height: 50px;
}
.faq4{
    width:90%;
    background-color: grey;
    margin-bottom: 5px;
    height: 50px;
}
.faq5{
    width:90%;
    background-color: grey;
    margin-bottom: 5px;
    height: 50px;
}
.faq6{
    width:90%;
    background-color: grey;
    margin-bottom: 5px;
    height: 50px;
}
.faq7{
    width:90%;
    background-color: grey;
    margin-bottom: 5px;
    height: 50px;
}
.faq p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;

}
.faq h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}


.reasons-to-join{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
        margin-right: 0px;
        width: 70%;
        margin-top: 10px;
        gap:15px;
        cursor:pointer;
        margin-bottom: 100px;
}

.reasons-to-join img{
    width: 50px;
    height: 50px;
    
    align-items: flex-end;
    border-radius: 5px;

}


.reason1{
    width: 25%;
    height: 300px;
    background-color: rgb(21, 30, 39);
    padding: 20px 20px;
    border-radius: 10px;
    flex-shrink: 0;
}
.reason2{
    width: 25%;
    height: 300px;
    background-color: rgb(21, 30, 39);
    padding: 20px 20px;
    border-radius: 10px;
    flex-shrink: 0;
}
.reason3{
    width: 25%;
    height: 300px;
    background-color: rgb(21, 30, 39);
    padding: 20px 20px;
    border-radius: 10px;
    flex-shrink: 0;
}
.reason4{
    width: 25%;
    height: 300px;
    background-color: rgb(21, 30, 39);
    padding: 20px 20px;
    border-radius: 10px;
    flex-shrink: 0;
}
.watch{
    width:50%;
    margin:100px 100px;
}
.language-select{
    width: 150px;
    height: 40px;
    background-color: rgb(37, 53, 69);
    color: white;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 20px;
    align-items: start;
    margin-bottom: 100px;
    margin-left: 0px;
}
.reasons-to-join p{
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    color: rgb(73, 72, 72);
}

footer h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 5px;
    color: grey;
    margin-left: 0px;
    text-align: left;
}
















